.libs
.deps
Makefile
Makefile.in
config.guess
autogen.err
config.log
config.sub
config.status
config.h
config.h.in
configure
aclocal.m4
missing
libtool
depcomp
install-sh
ltmain.sh
stamp-*
autom4te.cache
intltool-*.in
shave
shave-libtool
*.o
*.lo
*.la
*~
*.bak
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
po/Makefile.in.in
src/fwk/utils/testmoniker
src/engine/db/test_db
src/engine/db/test_library
src/engine/library/test_opqueue
src/engine/library/test_worker
src/niepce/niepce
doc/Doxyfile
doc/doxygen/html
