.libs
.deps
Makefile
Makefile.in
config.guess
autogen.err
config.log
config.sub
config.status
config.h
config.h.in
configure
aclocal.m4
missing
libtool
depcomp
install-sh
ltmain.sh
stamp-*
autom4te.cache
intltool-*.in
*.o
*.lo
*.la
*.a
*~
*.bak
TAGS
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
po/Makefile.in.in
src/fwk/base/testmoniker
src/fwk/base/testgeometry
src/fwk/base/testfractions
src/fwk/base/testdate
src/fwk/base/testmap
src/fwk/base/testpropertybag
src/fwk/utils/test_db
src/fwk/utils/test_db2
src/fwk/utils/test_db3
src/fwk/utils/test_db4
src/fwk/utils/testfiles
src/fwk/utils/testpathutils
src/fwk/utils/teststringutils
src/fwk/utils/testufrawmeta
src/fwk/utils/testxmp
src/fwk/toolkit/testconfigdatabinder
src/libraryclient/test_worker
src/engine/db/test_library
src/engine/db/test_filebundle
src/engine/library/test_opqueue
src/niepce/niepce
camerawire/src/camerawire
camerawire/po/POTFILES
camerawire/po/Makefile.in
magellan/src/magellan
magellan/po/POTFILES
magellan/po/Makefile.in
doc/Doxyfile
doc/doxygen/html
po/*.gmo
po/niepce.pot
po/POTFILES
