.libs
.deps
Makefile
Makefile.in
config.guess
autogen.err
config.log
config.sub
config.status
config.h
config.h.in
configure
aclocal.m4
missing
libtool
depcomp
install-sh
ltmain.sh
stamp-*
autom4te.cache
intltool-*.in
*.o
*.lo
*.la
*~
*.bak
m4/intltool.m4
po/Makefile.in.in
src/utils/testmoniker
src/db/test_db
src/db/test_library
src/library/test_opqueue
src/library/test_worker
src/main/niepce
doc/Doxyfile
doc/doxygen/html
